<section class="about-us">
    <div class="container">
        <h3 class="title-section">Про нас</h3>
        <ul class="about-us-items">
            <li class="about-us-item">
                <div class="item-bg">
                    <img src="img/svg/hands.svg" alt="">
                </div>
                <div class="item-desc">
                    Ми швидко оформимо і виконаємо Ваше замовлення, у нас хороша дисконтна програма для оптових
                    клієнтів, радо співпрацюватимемо з Вами
                </div>
            </li>
            <li class="about-us-item">
                <div class="item-bg">
                    <img src="img/svg/hands.svg" alt="">
                </div>
                <div class="item-desc">
                    Ми швидко оформимо і виконаємо Ваше замовлення, у нас хороша дисконтна програма для оптових
                    клієнтів, радо співпрацюватимемо з Вами
                </div>
            </li>
            <li class="about-us-item">
                <div class="item-bg">
                    <img src="img/svg/hands.svg" alt="">
                </div>
                <div class="item-desc">
                    Ми швидко оформимо і виконаємо Ваше замовлення, у нас хороша дисконтна програма для оптових
                    клієнтів, радо співпрацюватимемо з Вами
                </div>
            </li>
            <li class="about-us-item">
                <div class="item-bg">
                    <img src="img/svg/hands.svg" alt="">
                </div>
                <div class="item-desc">
                    Ми швидко оформимо і виконаємо Ваше замовлення, у нас хороша дисконтна програма для оптових
                    клієнтів, радо співпрацюватимемо з Вами
                </div>
            </li>
        </ul>
    </div>
</section>