<footer class="footer">
    <div class="container">
        <ul class="footer-info-items">
            <li>
                <ol class="work-time-items">
                    Години роботи:
                    <li class="work-time-item">
                        Пн-Сб  -  9<sup>00</sup>-19<sup>00</sup>год
                    </li>
                    <li class="work-time-item">
                        Неділя  -  вихідний
                    </li>
                </ol>
                <div class="social-wrapper">
                    Приєднуйтесь
                    <ol class="social-items">
                        <li class="social-item">
                            <i class="fab fa-facebook-f"></i>
                        </li>
                        <li class="social-item">
                            <i class="fab fa-youtube"></i>
                        </li>
                        <li class="social-item">
                            <i class="fab fa-instagram"></i>
                        </li>
                    </ol>
                </div>
            </li>
            <li>
                <ol class="footer-menu-items">
                    <li class="footer-menu-item">
                        <a href="">Про нас</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="">Послуги</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="">Каталог товарів</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="">Популярні товари</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="">Новинки</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="">Співпраця</a>
                    </li>
                    <li class="footer-menu-item">
                        <a href="">Умови доставки</a>
                    </li>
                </ol>
            </li>
            <li>
                <ol class="address-items">
                    <li>Infobox, 76000, Україна,</li>
                    <li>Івано-Франківськ</li>
                    <li>вул. Гординського, 4/3а</li>
                    <li>e-mail: infobox.org@gmail.com</li>
                </ol>
                <ol class="phone-items">
                    <li><span>Тел:</span> 099 047 61 50</li>
                    <li>096 362 92 46</li>
                </ol>
            </li>
        </ul>
    </div>
    <p class="copyright-wrapper">
        INFOBOX © Copyright 2018. All Rights Reserved. Designed by BlueBird. Зображення на сайті можуть
        відрізнятись від оригіналу.
    </p>
</footer>