<header class="header-page">
        <div class="slider-item" style="background-image: url('img/photo/main.jpg')">
            <div class="text-container">
                <p>з сувенірами від нас</p>
                <h3>Створіть незабутню атмосферу</h3>
            </div>
        </div>
        <div class="slider-item" style="background-image: url('img/photo/main.jpg')">
            <div class="text-container">
                <p>з сувенірами від нас 2</p>
                <h3>Створіть незабутню атмосферу 2</h3>
            </div>
        </div>
        <div class="slider-item" style="background-image: url('img/photo/main.jpg')">
            <div class="text-container">
                <p>з сувенірами від нас 3</p>
                <h3>Створіть незабутню атмосферу 3</h3>
            </div>
        </div>
</header>