<section class="full-menu">
    <div class="first-wrapper-menu">
        <div class="container-flex">
            <ol class="phone-items">
                <li class="phone-item">
                    <a href="tel:0990476150">099 047 61 50</a>
                </li>
                <li class="divider-phone-item">
                    <i class="fas fa-phone"></i>
                </li>
                </li>
                <li class="phone-item">
                    <a href="tel:0963629246">096 362 92 46</a>
                </li>
            </ol>
            <ol class="first-menu-items">
                <li class="first-menu-item">
                    <a href="index.html">
                        Головна
                    </a>
                </li>
                <li class="first-menu-item">
                    <a href="#about_us">
                        Про нас
                    </a>
                </li>
                <li class="first-menu-item">
                    <a href="#service">
                        Послуги
                    </a>
                </li>
                <li class="first-menu-item">
                    <a href="#novelty">
                        Новинки
                    </a>
                </li>
                <li class="first-menu-item">
                    <a href="#contacts">
                        Контакти
                    </a>
                </li>
            </ol>
            <ol class="social-menu-items">
                <li class="social-menu-item">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="social-menu-item">
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
                <li class="social-menu-item">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="second-wrapper-menu">
        <div class="container-flex">
            <div class="wrapper-products-menu">
                <p>
                    <i class="fas fa-bars"></i>
                    каталог товарів
                </p> 
                <ol class="list-menu-items">
                    <li>Акції та спецпропозиції</li>
                    <li>Акції та спецпропозиції</li>
                    <li>Акції та спецпропозиції</li>
                    <li>Акції та спецпропозиції</li>
                    <li>Акції та спецпропозиції</li>
                    <li>Акції та спецпропозиції</li>
                    <li>Акції та спецпропозиції</li>
                </ol>
            </div>
            <div class="wrapper-search">
                <img src="img/svg/logo.svg" alt="">
                <div class="search-box">
                    <input type="search" id="search" placeholder="Пошук">
                    <label for="search">
                        <i class="fas fa-search"></i>
                    </label>
                </div>
            </div>
            <ol class="wrapper-button-speed">
                <li class="button-speed-item">
                    <a href="">
                        <i class="fas fa-heart"></i>
                    </a>
                </li>
                <li class="button-speed-item">
                    <a href="">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
                <li class="button-speed-item">
                    <a href="">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="modal-sign">
                        
                    </div>
                </li>
                <li class="button-speed-item">
                    <a class="link-lang" href="">UA</a>
                    <ul class="lang-items">
                        <li class="lang-item">
                            <a class="link-lang" href="">ENG</a>
                        </li>
                        <li class="lang-item">
                            <a class="link-lang" href="">
                                RU
                            </a>
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
    </div>

</section>