<section class="subscribe">
    <div class="container-flex">
        <div class="title-subscribe">
            <img src="img/svg/e-mail.svg" alt="">
            <h5>підписуйтесь на новини</h5>
        </div>
        <div class="wrapper-subscribe">
            <div class="input-box">
                <input type="text" placeholder="Ваш E-mail">
                <label for="">Ваш E-mail</label>
            </div>
            <button type="submit" class="btn">Надіслати</button>
        </div>
    </div>
</section>