// Menu
.full-menu
    width: 100%
    background: #000
    .container-flex
        justify-content: space-between
        align-items: center
        height: 100%
    .first-wrapper-menu
        height: 95px
        background-color: #fff
        .phone-items
            display: flex
            margin-right: 20%
            .phone-item
                color: #6c6c6c
                font-weight: 700
                transition: $transition
                a
                    border-bottom: 1pt solid #dbdbdb
                    // transition: $transition
                &:hover
                    color: $red
                    transition: $transition
                    a
                        border-bottom: 1pt solid $red
                        // transition: $transition
            .divider-phone-item
                color: $red
                margin: 0 10px
        .first-menu-items
            display: flex
            height: 100%
            text-transform: uppercase
            
            .first-menu-item
                margin: 0 20px
                height: 100%
                position: relative
                line-height: 95px
                &:first-child
                    margin-left: 0
                &:last-child
                    margin-right: 0
                a
                    // position: absolute
                    // height: 100%
                    padding: 50% 0
                    cursor: pointer
                    &::after
                        background-color: $red
                        display: block
                        content: ""
                        height: 5px
                        width: 0
                        left: 0
                        right: 0
                        -webkit-border-top-left-radius: 5px
                        border-top-left-radius: 5px
                        -webkit-border-top-right-radius: 5px
                        border-top-right-radius: 5px
                        bottom: 0
                        position: absolute
                        transition: $transition
                &:hover
                    a
                        transition: $transition
                        color: $red
                        &::after
                            width: 90%
                            transition: $transition
        .social-menu-items
            display: flex
            .social-menu-item
                margin: 0 5px
                a
                    padding: 10px 5px

                &:first-child
                    margin-left: 0
                &:last-child
                    margin-right: 0
                &:hover
                    a
                        color: $red
                        transition: $transition
    .second-wrapper-menu
        display: flex
        height: 95px
        background-color: #ececec